body{ 
	font-family:"Lucida Grande", Arial, Helvetica, sans-serif; 
/*	cursor: none;
*/}

*.button{
	border: solid 1px black;
	cursor: hand;
	background: #dddddd;
}

*.button:hover{
	background: #aaaaaa;
}