
/*hiding disabled scrollbars:*/


html{
	overflow:hidden;	
}

body{ 
	overflow:hidden; 
	overflow-x:hidden;
	overflow-y:hidden;
	scroll: none;
}


/*define zero screen margins*/
body{ 
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

*.prop-fullscreen{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	overflow: hidden;
}